.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 45px;
  background-color: #E7F6FF;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}
