.main {
    width: 100%;
    padding: 45px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main__top {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 35px;

    h1 {
        display: inline-flex;
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }

    input {
        height: 45px;
        border-radius: 10px;
        margin: 0;
        padding-left: 20px;
        color: #060606;
        border: 1px solid #F3F3F3;
        

        &::placeholder {
            color: #C4C4C4;
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 250px));
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}